
 .slick-prev {
     border: 1px solid #493c30 !important;
     // position: relative !important; 
    left: -20px !important;
    z-index:  1000 !important;
    height: 48px !important;
    width: 44px !important;
    background:  #febf3e!important;
    line-height: 1.1 !important ;
    text-shadow: 1px 1px 1px #493c30 !important;
    padding: 9px !important;
    border-radius: 12px !important;
            
    &:hover{
        background:#11bfde !important ;
        line-height: 1.1 !important ;
        text-shadow: 1px 1px 1px #304149  !important;
    }
}
.slick-prev:before,
.slick-prev:before{
    // content: "\e060" !important;
    font-family: "FontAwesome" !important;
    font-size: 25px !important;
}
            
.slick-next {
    border: 1px solid #493c30 !important;
    // position: relative !important;
    right: 0 !important;
    height: 48px !important;
    width: 44px !important;
    background:  #febf3e!important;
    line-height: 1.1 !important ;
    text-shadow: 1px 1px 1px #493c30 !important;
    padding: 9px !important;
    border-radius: 12px !important;
        &:hover{
            background:#11bfde !important ;
            line-height: 1.1 !important ;
            text-shadow: 1px 1px 1px #493c30  !important;
        }
}
.slick-disabled {
    display: none !important;
}
.slick-next:before{
    // content: "\e258" !important;
    font-family: "FontAwesome" !important;
    font-size: 25px !important;
}

   
.section-speacil {
    // background: #456D26;
    
         background: url("../../assets/selection.png") ;
        
         background-size: 100% 100%;
        .section-body{
            .speacil-customize{
                .bg-image{
                    //background: url("../../assets/speacil/caphesua.webp") ;
                    height: 300px;
                    width: 320px;
                    border-radius: 20px;
                    background-size: 100% 100%;
                    cursor: pointer;
                    
                }
                .text-customize{
                    padding-bottom: 10px;
                    padding: 10px;
                    line-height: 1.1;
                    text-shadow: 1px 1px 1px #333;
                    color:aliceblue;
                    font-family: 'haha';
                    font-size: 23px;
                    text-transform: uppercase;
                    
                }
                .text-gia{
                    padding: 10px;
                    line-height: 1.1;
                    text-shadow: 1px 1px 1px #333;
                    color:#febf3e;
                    font-family: 'haha';
                    font-size: 23px;
                    
                }  
            }
            .speacil-customize-event{
                cursor: pointer;
                
                .bg-image-event{
                    // background: url("../../assets/event/3.svg") ;
                    height: 450px;
                    width: 320px;
                    background: center center no-repeat;
                    border-radius: 20px;
                    background-size: 120% 100%;

                }
                .text-customize{
                    padding-bottom: 10px;
                    padding: 10px;
                    line-height: 1.1;
                    text-shadow: 1px 1px 1px #333;
                    color: white;
                    font-family: 'haha';
                    font-size: 23px;
                    text-transform: uppercase;
                }
                .text-gia{
                    padding: 10px;
                    line-height: 1.1;
                    text-shadow: 1px 1px 1px #333;
                    color: #febf3e;
                    font-family: 'haha';
                    font-size: 23px;
                    
                }  
            }


        }

}       
.section-speacil{
    height: 640px ;
    
    
   
    .section-container{
        margin: 0 100px;
        display: flex;
        flex-direction: column ;
        

        .section-header{
            height: 80px;
            margin-bottom: 30px;
            padding-top: 20px;
            
            
            
            .title-section {
                line-height: 1.1;
                text-shadow: 1px 1px 1px #333;
                color:white;
                font-family: 'haha';
                font-size: 35px;
                font-weight: 600;

            }
            .btn-section{
               
                display: center;
                padding: 5px 10px;
                background:#febf3e ;
                color: #453226;
                font-size: 17px;
                border-radius: 10px;
                cursor: pointer;
                 &:hover{
                    background: #11bfde;
                 }
                
            }

        }

    


   
    }

}


